{% extends 'base.html' %}

{% block content %}
<div id="home">

    <div class="card" style="width: 80%; height: 80%; padding: 50px 35px;">

            <div class="hole">
                <p class="no2-text">Hey, I'm</p>
            </div>
            <h1 class="my-name">Hamzah</h1>
<!--                    <p style="margin: 0 20px 20px; ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus odio eget luctus vehicula. Praesent mattis nunc nec ornare suscipit. Quisque vitae turpis at ligula venenatis aliquam et vitae mi. Nulla ut felis vel lorem imperdiet sagittis at in dui. Fusce quis iaculis augue.</p>-->
            <div class="hole">
                <h4 class="no2-text" style="color: #005F73">Developer • 3D Artist • Music Producer</h4>
            </div>
        <div class="card-bottom-buttons">
            <div class="button-container">
                <div class="view-my-work">
                    <a href="#" style="color: #FFE5B4; text-decoration: none; font-weight: 500;">View my work ↓</a>
                </div>
                <div class="download-resume">
                    <a href="#" style="color: #FFE5B4; text-decoration: none; font-weight: 500;">Download Resume</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="about">
    <div class="card" style="width: 80%; height: 80%; padding: 50px 35px; margin: 20px 10px;">
        <h1 class="heading2">About Me</h1>
        <div style="padding: 20px;">
            <div class="info-row">
                <span class="label">Age</span>
                <span class="value">14</span>
            </div>

            <div class="info-row">
                <span class="label">Location</span>
                <span class="value">Pakistan</span>
            </div>

            <div class="info-row">
                <span class="label">Experience</span>
                <span class="value">3+ Years</span>
            </div>

            <div class="info-row">
                <span class="label">Currently Learning...</span>
                <span class="value">JavaScript</span>
            </div>

            <div class="skill-section">
                <h2 style="font-weight: 600px; color: rgba(255,255,255); margin-top: 20px;">Skills</h2>
                <div class="skill-card hole">
                    <span class="skill-heading">Web Development</span>
                    <div class="skill-details">
                        ⭐⭐⭐⭐⭐
                    </div>
                </div>
                <div class="skill-card">
                    <span class="skill-heading">Python Expertise</span>
                    <div class="skill-details">
                        ⭐⭐⭐⭐⭐
                    </div>
                </div>
                <div class="skill-card">
                    <span class="skill-heading">Web Scraping</span>
                    <div class="skill-details">
                        ⭐⭐⭐⭐
                    </div>
                </div>
                <div class="skill-card">
                    <span class="skill-heading">API Development and Integration</span>
                    <div class="skill-details">
                        ⭐⭐⭐
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
